@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.maps-gadu, .seccion-main .foto-main, .foto-gadu {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer-contenedor .footer-row .footer-ul, .formulario-gadu .form-gadu, .tira-video, .seccion-main, .nav-gadu, .header-parallax .row-parallax, .flex-gadu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Open Sans, sans-serif";
  font-weight: bold;
}
body p {
  font-family: "Montserrat, sans-serif";
  color: #212121;
}

.link-negro a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #212121;
}
.link-negro a:hover {
  color: #585858;
}
.link-negro a.active {
  color: #8E8E8E;
}
.link-negro a.active:hover {
  color: #585858;
}
@media screen and (min-width: 640px) {
  .link-negro a {
    font-size: 1rem;
  }
}

.flex-gadu {
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.header-parallax {
  position: relative;
  overflow: hidden;
  height: 91vh;
  background-image: url("../assets/pieter-bruegel-babel.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header-parallax .row-parallax {
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background: rgba(33, 33, 33, 0.8);
}
.header-parallax .row-parallax h1 {
  color: #FAFAFA;
}
.header-parallax .row-parallax h2 {
  color: #8E8E8E;
}

.nav-gadu {
  align-items: center;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 9vh;
}

/* .content {
    height: calc(100vh - 60px); // Ajusta la altura según el tamaño de la barra de navegación
    padding-top: 60px; // Padding según el tamaño de la barra de navegación
    background-color: #FAFAFA;
} */
.seccion-main {
  margin: 1.25rem;
  padding: 1.25rem;
}
.seccion-main .foto-main {
  /* Esto asume que %foto-gadu contiene estilos adicionales que deseas aplicar */
}
.seccion-main a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #212121;
}
.seccion-main a:hover {
  color: #585858;
}
.seccion-main a.active {
  color: #8E8E8E;
}
.seccion-main a.active:hover {
  color: #585858;
}
@media screen and (min-width: 640px) {
  .seccion-main a {
    font-size: 1rem;
  }
}

.articulo-admision {
  margin: 1.25rem;
  padding: 1.25rem;
  text-align: center;
  border-radius: 8px;
  background-color: #F4F4F4;
}

.tira-video {
  margin: 1.25rem;
  padding: 1.25rem;
  justify-content: space-evenly;
}

.formulario-gadu {
  margin: 1.25rem;
  padding: 1.25rem;
  background-color: #F4F4F4;
  border-radius: 8px;
}
.formulario-gadu .form-gadu {
  justify-content: space-evenly;
}
.formulario-gadu .form-gadu .form-control:focus {
  border-color: #212121;
  box-shadow: 0 0 5px 0 #212121;
}

.maps-gadu {
  height: 66vh;
}

.footer-contenedor {
  background-color: #212121;
}
.footer-contenedor .footer-row {
  height: 33vh;
  justify-content: center;
  align-items: center;
}
.footer-contenedor .footer-row .footer-ul {
  justify-content: space-evenly;
}
.footer-contenedor .footer-row .footer-ul .nav-link, .footer-contenedor .footer-row .footer-ul .nav-link:hover, .footer-contenedor .footer-row .footer-ul .nav-link.active {
  font-size: 0.9rem;
  text-decoration: none;
  color: #8E8E8E;
}
.footer-contenedor .footer-row .footer-ul .nav-link:hover, .footer-contenedor .footer-row .footer-ul .nav-link:hover:hover, .footer-contenedor .footer-row .footer-ul .nav-link.active:hover {
  color: #FAFAFA;
}
.footer-contenedor .footer-row .footer-ul .nav-link.active, .footer-contenedor .footer-row .footer-ul .nav-link:hover.active, .footer-contenedor .footer-row .footer-ul .nav-link.active.active {
  color: #585858;
}
.footer-contenedor .footer-row .footer-ul .nav-link.active:hover, .footer-contenedor .footer-row .footer-ul .nav-link:hover.active:hover, .footer-contenedor .footer-row .footer-ul .nav-link.active.active:hover {
  color: #FAFAFA;
}
@media screen and (min-width: 640px) {
  .footer-contenedor .footer-row .footer-ul .nav-link, .footer-contenedor .footer-row .footer-ul .nav-link:hover, .footer-contenedor .footer-row .footer-ul .nav-link.active {
    font-size: 1rem;
  }
}
.footer-contenedor .footer-row .footer-texto {
  text-align: center;
}
.footer-contenedor .footer-row .footer-texto h6, .footer-contenedor .footer-row .footer-texto p, .footer-contenedor .footer-row .footer-texto a {
  color: #585858;
}/*# sourceMappingURL=estilo.css.map */