// CONTENIDO
/* .content {
    height: calc(100vh - 60px); // Ajusta la altura según el tamaño de la barra de navegación
    padding-top: 60px; // Padding según el tamaño de la barra de navegación
    background-color: #FAFAFA;
} */

// MAIN
.seccion-main {
    margin: 1.25rem;
    padding: 1.25rem;

    @extend %flex-gadu;

    .foto-main {
        @extend %foto-gadu; /* Esto asume que %foto-gadu contiene estilos adicionales que deseas aplicar */
    }

    a { @include enlace-gadu(negro, gris-negro, gris-medio); }
}

// ADMISION
.articulo-admision {
    margin: 1.25rem;
    padding: 1.25rem;
    text-align: center;
    border-radius: 8px;
    background-color: map-get($color-gadu, gris-blanco);
}

// VIDEO
.tira-video {
    margin: 1.25rem;
    padding: 1.25rem;

    @extend %flex-gadu;
    justify-content: space-evenly; 
}

// FORMULARIO
.formulario-gadu {
    margin: 1.25rem;
    padding: 1.25rem;

    .form-gadu {
        @extend %flex-gadu;
        justify-content: space-evenly;

        .form-control:focus {
            border-color: map-get($color-gadu, negro);
            box-shadow: 0 0 5px 0 map-get($color-gadu, negro);
        }
    }

    background-color: map-get($color-gadu, gris-blanco);
    border-radius: 8px;

}