// HEADER
.parallax-gadu {
    position: relative;
    overflow: hidden;
    height: 91vh;
    
    background: {
        image: url('../assets/pieter-bruegel-babel.jpg');
        size: cover;
        position: center;
        attachment: fixed;
    }

    .flex-gadu {
        h1 {color: map-get($color-gadu, blanco);}
        h2 {color: map-get($color-gadu, gris-medio);}
        background: rgba(33, 33, 33, 0.8);
    }
    
}

// NAV
.nav-gadu {
    position: sticky;
    top: 0;
    z-index: 999;
    height: 9vh;
}

// MAIN
.main-gadu {
    @extend %flex-gadu;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.formulario-gadu {
    @extend %flex-gadu;
    form {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    background-color: map-get($color-gadu, gris-blanco);
}

.article-gadu {
    @extend %flex-gadu;
    justify-content: center;
    padding: 5rem;
    background-color: map-get($color-gadu, gris-blanco);

}

.content {
    height: calc(100vh - 60px); /* Ajusta la altura según el tamaño de la barra de navegación */
    padding-top: 60px; /* Ajusta el padding según el tamaño de la barra de navegación */
    background-color: #FAFAFA;
}

// ASIDE
.maps-gadu {
    @extend %foto-gadu;
    height: 66vh;
}

// FOOTER
.footer-oscuro {
    @extend %flex-gadu;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: map-get($color-gadu, gris-medio);
    background-color: map-get($color-gadu, negro);
    h6 { color: map-get($color-gadu, gris-negro); };
    height: 33vh;
    z-index: 1020;
}