// CONTENIDO
/* .content {
    height: calc(100vh - 60px); // Ajusta la altura según el tamaño de la barra de navegación
    padding-top: 60px; // Padding según el tamaño de la barra de navegación
    background-color: #FAFAFA;
} */

// MAIN
.main-gadu {
    @extend %flex-gadu;
    align-items: center;
    justify-content: space-around;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

// ARTICULOS
.article-gadu {
    @extend %flex-gadu;
    justify-content: center;
    padding: 5rem;
    background-color: map-get($color-gadu, gris-blanco);
    .ancho-80 { 
        width: 80%;
        text-align: center;
    }
}

// VIDEOS
.video-gadu {
    @extend %flex-gadu;
    text-align: center;
    justify-content: center;
    justify-items: flex-start;
}

// FORMULARIO
.formulario-gadu {
    padding: 1.25rem;
    margin: 1.25rem;

    .form-gadu {
        @extend %flex-gadu;
        justify-content: space-evenly;

        .form-control:focus {
            border-color: map-get($color-gadu, negro);
            box-shadow: 0 0 5px 0 map-get($color-gadu, negro);
        }
    }

    background-color: map-get($color-gadu, gris-blanco);
    border-radius: 8px;

}